out/
*.jar
*.dmg
*.exe
*.AppImage
testing/
old/
brew
lib/javafx/osx/sdk
releases/macos/x64/SubtitleBuddy.app/Contents/Java/image
releases/windows/x64/inno/image
!releases/linux/appimagetool-x86_64.AppImage
*.zip
releases/linux/x64/SubtitleBuddy.AppDir/usr/image
releases/macos/x64/SubtitleBuddy.app/Contents/Java/jre
*.gz
*.tar.gz
build/
.gradle/
\.idea/
*.iml
