out/
*.jar
*.dmg
*.exe
*.AppImage
testing/
ci/linux/update-homebrew-formular.sh
ci/win/test-win-installation.sh
ci/ftp-config
old/
brew
server
lib/javafx/osx/sdk
releases/macos/x64/SubtitleBuddy.app/Contents/Java/image
releases/windows/x64/inno/image
!releases/linux/appimagetool-x86_64.AppImage
!lib/jnativehook-2.0.2-patched.jar
*.zip
releases/linux/x64/SubtitleBuddy.AppDir/usr/image
releases/macos/x64/SubtitleBuddy.app/Contents/Java/jre
*.gz
*.tar.gz
build/
.gradle/
\.idea/
*.iml
