out/
*.jar
*.dmg
*.exe
*.AppImage
test/
old/
modulepath
releases/windows/x64/inno/lib/javafx
!releases/linux/appimagetool-x86_64.AppImage
*.zip
releases/linux/x64/SubtitleBuddy.AppDir/usr/lib/jre
releases/macos/x64/SubtitleBuddy.app/Contents/Java/jre
releases/windows/x64/inno/jre
*.gz
*.tar.gz
build/
.gradle/
\.idea/
*.iml
